html {
  background-color: #02bfe7;
}

h1 {
  color: #212121;
  text-align: center;
}

#grid-container {
  width: 500px;
  height: 500px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: "medium solid black";
  background-color: white;
}

.column {
  flex: 1;
}

.row {
  /* background: black; */
}
