html {
  background-color: #02bfe7;
}

h1 {
  color: #212121;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

#grid-container {
  width: 500px;
  height: 500px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: "medium solid black";
  background-color: white;
  flex-direction: row;
}

.column {
  flex: 1;
}

.row {
  /* background: black; */
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.controls {
    margin: 30px 35px;
} 
